.imgresp{

    width:55%;
    height: auto;
}
#third-logo,#second-logo,#first-logo{
margin-left: 90px;
}

h2.headertekst {
    text-align: center;
  }

 .partnerphoto{
     box-align:center;
     height:fixed;
     width: fit-content;

    
}
.dresp{
    
    
    height: auto;
}

#content{
    margin-top: 150px;
    height: auto;
}
.logo{
    background: #fff;
}
@media screen and (max-width: 480px){
    
    #third-logo,#second-logo,#first-logo{
        margin-left: 0;
        }
   .mgr,.canon{
       display: none;
   }
   .marathon{
       width: 100%;
   }
    .dresp{
        width:30%;
        height: 50%;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
     }
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#bg-nav{
    background-color:#871c11;     
}
.nav-link,#hm-nav,#lin-nav-1,#lin-nav-2,#lin-nav-3,#navbarDropdown,#lgout-nav{
    color: #fff;
}
.enrollbtn{
    
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 250px;
        float:right;
}