.imgresp{

    width:55%;
    height: auto;
}



#third-logo,#second-logo,#first-logo{
margin-left: 90px;
}

h2.headertekst {
    text-align: center;
  }

 .partnerphoto{
     box-align:center;
     height:fixed;
     width: fit-content;    
}
.dresp{
    height: auto;
}

#content{
    margin-top: 160px;
    height: auto;
}
.logo{
    background: #fff;
}

@media screen and (min-width: 1920px){
    
    #content{
        margin-top: 180px;
            height: auto;
    }
}    
@media screen and (max-width: 480px){
    
    #third-logo,#second-logo,#first-logo{
        margin-left: 0;
        }
    
   .mgr,.canon{
       display: none;
   }
   .marathon{
       
       width: 100%;
   }
    .dresp{
        width:30%;
        height: 50%;
    }
    
    #content{
    margin-top: 220px;
    height: auto;
}

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
     }
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.admin-nav{
    width: 400px;
    text-align: center;
    margin-left:100px;
    line-height: 10px;


}
.admin-li:hover{
    text-decoration:underline;
    transition: 1s;
}
.admin-ul{
    background-color: rgba(138, 138, 170, 0.178);
    text-align: center;
    line-height: 22.3px;

    padding-left: 50px;

}
#admin_title{
    width: 200px;
    background-color: rgb(199, 18, 18);
    color: #fff;
    margin-left: 680px;
    padding: 30px;
    float: right;
}
#admin_row{
    
    color: #fff;
    background-color: rgb(199, 18, 18);
}
#bg-nav,#lgout-ddl{
    background-color:#871c11;     
}
.dropdown-item:hover,#lgout-nav:hover{
    background-color: #641f16;
}
#hm-nav,#lin-nav-1,#lin-nav-2,#lin-nav-3,#navbarDropdown,#lgout-nav,#log-nav,#reg-nav{
    color: #fff;
}
.enrollbtn{
    
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 250px;
        float:right;
}

#txtFooter{
    color: sandybrown;
    font-style: bold;
    font-weight: 900;
}
#payment-div{
    width: 100%;
}
.logo{  
    height: auto;
}
#payslip_img{
    width:40px;
    height: auto;
}
.zoom {
    padding: 50px;
   
    transition: transform .2s; /* Animation */
    width: 400px;
    height: auto;
    margin: 0 auto;
  }  
.zoom:hover {
    margin-top: 50px;
    align-content: center;
transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.card{
margin-bottom: 10px;
}
#content{
    height: 100%;
}
.txtsuccess{
    color:green;
}
.txtexp{
    color:red;


#foot{
    margin-top:200px;

}