.imgresp{

    width:75%;
    height: auto;
}

.dresp{
    
    
    height: auto;
}
#content{
    margin-top: 150px;
    height: 400px;
}
.logo{
    background: #fff;
}
@media screen and (max-width: 480px){
   .mgr,.canon{
       display: none;
   }
   .marathon{
       width: 100%;
   }
    .dresp{
        width:30%;
        height: 50%;
    }
}